doctype html
html
  head
    meta(name='viewport', content='initial-scale=1')
    title #{title}
    style(type='text/css').
      .container {
      padding-top: 50px;
      }
      .center {
      text-align: center;
      }
      #canvas-video {
      width: 640px;
      height: 480px;
      border: 1px solid #ccc;
      }
  body
    .container.center
      canvas#canvas-video(width='640', height='480')
    
    block scripts
      script(src="https://cdn.socket.io/socket.io-1.2.1.js")
      script(type='text/javascript').
        // MODIFY THIS TO THE APPROPRIATE URL IF IT IS NOT BEING RUN LOCALLY
        var socket = io.connect('!{url}');
        var canvas = document.getElementById('canvas-video');
        var context = canvas.getContext('2d');
        var img = new Image();
        // show loading notice
        context.fillStyle = '#333';
        context.fillText('Loading...', canvas.width/2-30, canvas.height/3);
        socket.on('frame', function (data) {
        // Reference: http://stackoverflow.com/questions/24107378/socket-io-began-to-support-binary-stream-from-1-0-is-there-a-complete-example-e/24124966#24124966
        var uint8Arr = new Uint8Array(data.buffer);
        var str = String.fromCharCode.apply(null, uint8Arr);
        var base64String = btoa(str);
        img.onload = function () {
        context.drawImage(this, 0, 0, canvas.width, canvas.height);
        };
        img.src = 'data:image/png;base64,' + base64String;
        });